.buildinfo
.doctrees
venv

*.py[co]

# Packages
*.egg
*.egg-info
.eggs
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
tests/python_keyring/keyring_pass.cfg

# ofx files in root folder
/*.ofx

#Translations
*.mo

#Vim
*.swp

#Mr Developer
.mr.developer.cfg
